:root {
  --border-radius: 0.375em;
  --dial-rim-color: rgba(255, 255, 255, 0.2);
  --dial-rim-top: inset 0 1px 0 var(--dial-rim-color);
  --dial-rim-sides:
    inset 1px 0 0 var(--dial-rim-color), inset -1px 0 0 var(--dial-rim-color);
  --dial-rim-bottom: inset 0 -1px 0 var(--dial-rim-color);
  --dial-inner-highlight:
    var(--dial-rim-top), var(--dial-rim-sides), var(--dial-rim-bottom);
  --dial-inner-highlight-no-bottom: var(--dial-rim-top), var(--dial-rim-sides);
  --dial-inner-highlight-no-top: var(--dial-rim-sides), var(--dial-rim-bottom);
}

.Link {
  text-decoration: none;
  cursor: pointer;
  outline: none;

  .attach-title & {
    box-shadow: var(--dial-box-shadow);
    border-radius: var(--border-radius);

    &.focus-visible:is(a) {
      outline: 5px solid var(--blue-600);
      outline-offset: 1px;

      .color-scheme-dark & {
        outline-color: var(--blue-300);
      }
    }
  }
}

.Box {
  border-radius: var(--border-radius);
  height: var(--dial-height);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 500;
  overflow: hidden;
  pointer-events: none;

  .show-dial-borders & {
    box-shadow: var(--dial-inner-highlight);
  }

  .folder {
    width: 5em; /* 80px */
    height: 5em; /* 80px */
    fill: currentColor;
  }

  .normal-title & {
    box-shadow: var(--dial-box-shadow);

    .show-dial-borders & {
      box-shadow: var(--dial-box-shadow), var(--dial-inner-highlight);
    }

    .focus-visible:is(a) & {
      outline: 5px solid var(--blue-600);
      outline-offset: 1px;

      .color-scheme-dark & {
        outline-color: var(--blue-300);
      }
    }
  }

  .attach-title.show-title & {
    border-radius: var(--border-radius) var(--border-radius) 0 0;

    .show-dial-borders & {
      box-shadow: var(--dial-inner-highlight-no-bottom);
    }
  }
}

.Small {
  font-weight: normal;
  width: 100%;
  max-width: var(--max-small-width);
  text-align: var(--name-align);
  margin: 0 auto;
  display: grid;
  align-items: center;
  height: 1em;

  div {
    font-size: 0.8125em;
    display: block;
  }
}

.Domain {
  white-space: var(--name-white-space);
  padding: var(--name-padding);
  transform: var(--name-transform);
  text-align: center;

  div {
    font-size: 1.5em;
    margin-block: -0.15em;
  }
}

.Title {
  text-align: center;
  padding-top: 0.5em;
  display: flex;
  justify-content: center;

  .attach-title & {
    padding-top: 0;
    display: block;
  }

  .title {
    border-radius: 0.625em;
    min-width: 0;
    max-width: 100%;
    height: var(--title-height);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 8px;

    .show-favicons & {
      gap: 0.25em;
    }

    .favicon {
      flex: none;
      width: 1em;
      height: 1em;
      object-fit: contain;
      fill: currentColor;
    }

    div {
      min-width: 0;
      font-size: clamp(10px, 0.8125em, 15px);
      line-height: initial;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: clip;
      overflow-clip-margin: 4px;
    }

    .color-scheme-light & {
      background-color: rgba(255, 255, 255, 0.75);
      color: var(--grey-800);
    }

    .color-scheme-dark & {
      background-color: rgba(55, 55, 55, 0.75);
      color: var(--grey-200);
    }

    .attach-title & {
      border-radius: 0 0 var(--border-radius) var(--border-radius);

      .show-dial-borders & {
        box-shadow: var(--dial-inner-highlight-no-top);
      }
    }

    .focus-visible:is(a) & {
      background-color: var(--blue-600);
      color: white;

      .color-scheme-dark & {
        background-color: var(--blue-300);
        color: black;
      }
    }
  }
}
