{
  "presets": ["@babel/env"],
  "plugins": [
    "transform-inline-environment-variables",
    "emotion",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-react-jsx"
  ]
}
