{
  "env": { "browser": true, "es6": true, "node": true },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime",
    "plugin:react-hooks/recommended",
    "plugin:jsx-a11y/recommended",
    "prettier"
  ],
  "globals": {
    "__CHROME__": "readonly",
    "__FIREFOX__": "readonly"
  },
  "ignorePatterns": ["*.test.*"],
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "root": true,
  "rules": {
    "no-else-return": "warn",
    "no-unneeded-ternary": "warn",
    "no-unused-vars": "warn",
    "prefer-const": "warn",
    "react/prop-types": "off",
    "react/self-closing-comp": "warn"
  }
}
