.GridContainer {
  position: relative;
}

.gear-button {
  position: absolute;
  top: 24px;
  right: 24px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  border-radius: 50%;
  display: flex;
}

.gear-button:focus-visible {
  outline: 3px solid #1976d2;
  outline-offset: 5px;

  .color-scheme-dark & {
    outline-color: #90caf9;
  }
}

.settings-gear {
  height: 16px;
  width: 16px;
}

.Breadcrumbs {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  height: 80px;
  cursor: default;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  span {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  a {
    display: flex;
    align-items: center;
    column-gap: 3px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 2px;
    height: 30px;
    padding: 0 8px 0 4px;
    border: none;

    .chevron-left {
      width: 17px;
      height: 17px;
    }

    .color-scheme-light & {
      color: #424242;
      fill: #424242;
      background-color: rgba(255, 255, 255, 0.75);
    }

    .color-scheme-dark & {
      color: #e0e0e0;
      fill: #e0e0e0;
      background-color: rgba(55, 55, 55, 0.75);
    }

    &:focus-visible {
      background-color: #1976d2;
      color: #fff;
      fill: #fff;
      outline: none;
      text-decoration: none;

      .color-scheme-dark & {
        background-color: #90caf9;
        color: #000;
        fill: #000;
      }
    }
  }
}

.Grid {
  --dial-width-value: 12.125; /* 194px */
  --dial-width: calc(var(--dial-width-value) * 1em);
  --grid-gap-value: 1.75; /* 28px */
  --grid-gap: calc(var(--grid-gap-value) * 1em);
  --grid-padding: 50px;
  --max-small-width: calc(
    var(--dial-width) * 0.92
  ); /* for <Small> padding when scaling <Domain> */
  --title-height: 1.5em;
  --dial-height-value: 8.125; /* 130px */
  --dial-height: calc(var(--dial-height-value) * 1em);
  --dial-height-attached-title: calc(var(--dial-width) - var(--title-height));
  display: grid;
  grid-template-columns: repeat(auto-fill, var(--dial-width)); /* 194px */
  row-gap: var(--grid-gap);
  column-gap: var(--grid-gap);
  justify-content: center;
  margin-inline: auto;
  padding: 80px var(--grid-padding);

  &.has-breadcrumbs {
    padding-block: 0 80px;
  }

  &.max-width:not(.unlimited-columns &),
  :not(.unlimited-columns) & {
    max-width: calc(
      (
          var(--grid-max-cols) * var(--dial-width) +
            (var(--grid-max-cols) - 1) * var(--grid-gap)
        ) +
        calc(var(--grid-padding) * 2)
    );
  }

  .scale:not(.unlimited-columns) & {
    max-width: initial;
  }

  .sortable-ghost {
    visibility: hidden;
  }

  .square & {
    --dial-width-value: 10.25; /* 164px */
  }

  .tiny & {
    font-size: 0.8em;
  }

  .small & {
    font-size: 1em;
  }

  .medium & {
    font-size: 1.2em;
  }

  .large & {
    font-size: 1.4em;
  }

  .huge & {
    font-size: 1.6em;
  }

  .scale & {
    font-size: clamp(
      0.8em,
      calc(
        (100vw - 2 * var(--grid-padding)) /
          (
            var(--grid-max-cols) * var(--dial-width-value) +
              (var(--grid-max-cols) - 1) * var(--grid-gap-value)
          ) -
          1px
      ),
      1.6em
    );
  }
}

/* Drag and drop styles */
.folder-drop-target {
  outline: 4px dashed #42a5f5 !important;
  border-radius: 6px;

  .color-scheme-dark & {
    outline-color: #90caf9 !important;
  }
}

.breadcrumb-drop-target {
  outline: 4px dashed #42a5f5 !important;
  border-radius: 18px;
  outline-offset: -12px;

  .color-scheme-dark & {
    outline-color: #90caf9 !important;
  }
}
