.GridContainer {
  position: relative;
}

.gear-button {
  position: absolute;
  top: 18px;
  right: 18px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 6px;
  border-radius: 50%;
  display: flex;

  &:hover {
    background-color: color-mix(in oklch, currentColor 20%, transparent);
  }
}

.gear-button.focus-visible {
  outline: 3px solid var(--blue-600);
  outline-offset: 5px;

  .color-scheme-dark & {
    outline-color: var(--blue-300);
  }
}

.settings-gear {
  height: 16px;
  width: 16px;
}

.gear-newDot {
  position: absolute;
  top: 2px;
  right: 2px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: var(--blue-600);
  box-shadow: 0 0 0 1px var(--wallpaper-gear-color);
  pointer-events: none;
}

.Breadcrumbs {
  --breadcrumbs-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  height: var(--breadcrumbs-height);
  cursor: default;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .grid-spacing-compact & {
    --breadcrumbs-height: 60px;
  }

  .grid-spacing-default & {
    --breadcrumbs-height: 70px;
  }

  .grid-spacing-spacious & {
    --breadcrumbs-height: 80px;
  }

  a {
    display: flex;
    align-items: center;
    column-gap: 3px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
    height: 30px;
    padding: 0 8px 0 4px;
    border: none;

    .chevron-left {
      width: 17px;
      height: 17px;
    }

    .color-scheme-light & {
      color: var(--grey-700);
      fill: var(--grey-700);
      background-color: color-mix(in oklch, white 75%, transparent);

      &:hover {
        background-color: color-mix(in oklch, white 90%, transparent);
      }
    }

    .color-scheme-dark & {
      color: var(--grey-200);
      fill: var(--grey-200);
      background-color: color-mix(in oklch, var(--grey-800) 75%, transparent);

      &:hover {
        background-color: color-mix(in oklch, var(--grey-800) 90%, transparent);
      }
    }

    &:active {
      filter: brightness(0.9);
    }

    &.focus-visible {
      background-color: var(--blue-600);
      color: white;
      fill: white;
      outline: none;
      text-decoration: none;

      .color-scheme-dark & {
        background-color: var(--blue-300);
        color: black;
        fill: black;
      }
    }

    .show-dial-borders & {
      box-shadow: var(--dial-inner-highlight);
    }
  }
}

.Grid {
  --dial-width-value: 12.125; /* 194px */
  --dial-width: calc(var(--dial-width-value) * 1em);
  --grid-gap-value: 1.75; /* 28px */
  --grid-gap: calc(var(--grid-gap-value) * 1em);
  --grid-padding: 50px;
  --grid-padding-top: 80px;
  --grid-padding-bottom: var(--grid-padding);
  --max-small-width: calc(
    var(--dial-width) * 0.92
  ); /* for <Small> padding when scaling <Domain> */
  --title-height: 1.5em;
  --dial-height-value: 8.125; /* 130px */
  --dial-height: calc(var(--dial-height-value) * 1em);
  --dial-height-attached-title: calc(var(--dial-width) - var(--title-height));
  display: grid;
  grid-template-columns: repeat(auto-fill, var(--dial-width)); /* 194px */
  row-gap: var(--grid-gap);
  column-gap: var(--grid-gap);
  justify-content: center;
  margin-inline: auto;
  padding: var(--grid-padding-top) var(--grid-padding)
    var(--grid-padding-bottom);

  &.has-breadcrumbs {
    padding-block: 0 var(--grid-padding-bottom);
  }

  &.max-width:not(.unlimited-columns &),
  :not(.unlimited-columns) & {
    max-width: calc(
      (
          var(--grid-max-cols) * var(--dial-width) +
            (var(--grid-max-cols) - 1) * var(--grid-gap)
        ) +
        calc(var(--grid-padding) * 2)
    );
  }

  .scale:not(.unlimited-columns) & {
    max-width: initial;
  }

  .sortable-ghost {
    visibility: hidden;
  }

  .square & {
    --dial-width-value: 10.25; /* 164px */
  }

  .grid-spacing-compact & {
    --grid-gap-value: 0.75; /* 12px */
    --grid-padding: 24px;
    --grid-padding-top: 60px;
    --grid-padding-bottom: var(--grid-padding);
  }

  .grid-spacing-default & {
    --grid-gap-value: 1.25; /* 20px */
    --grid-padding: 37px;
    --grid-padding-top: 70px;
    --grid-padding-bottom: var(--grid-padding);
  }

  .grid-spacing-spacious & {
    --grid-gap-value: 1.75; /* 28px */
    --grid-padding: 50px;
    --grid-padding-top: 80px;
    --grid-padding-bottom: var(--grid-padding);
  }

  .tiny & {
    font-size: 0.8em;
  }

  .small & {
    font-size: 1em;
  }

  .medium & {
    font-size: 1.2em;
  }

  .large & {
    font-size: 1.4em;
  }

  .huge & {
    font-size: 1.6em;
  }

  .scale & {
    font-size: clamp(
      0.8em,
      calc(
        (100vw - 2 * var(--grid-padding)) /
          (
            var(--grid-max-cols) * var(--dial-width-value) +
              (var(--grid-max-cols) - 1) * var(--grid-gap-value)
          ) -
          1px
      ),
      1.6em
    );
  }
}

.GridSeparator {
  --grid-separator-color: var(--grey-400);
  --grid-separator-transparent-color: color-mix(
    in oklch,
    var(--grid-separator-color) 75%,
    transparent
  );
  grid-column: 1 / -1;
  width: 100%;
  max-width: calc(
    var(--grid-max-cols) * var(--dial-width) + (var(--grid-max-cols) - 1) *
      var(--grid-gap)
  );
  height: 2px;
  margin: calc(var(--grid-gap) * -0.15) auto;
  border: 0;
  background-color: var(--grid-separator-color);
  pointer-events: none;

  .color-scheme-dark & {
    --grid-separator-color: var(--grey-700);
  }

  .transparent-dials & {
    background-color: var(--grid-separator-transparent-color);
  }
}

/* Drag and drop styles */
.folder-drop-target {
  outline: 4px dashed var(--blue-400) !important;
  border-radius: 6px;

  .color-scheme-dark & {
    outline-color: var(--blue-300) !important;
  }
}

.breadcrumb-drop-target {
  outline: 4px dashed var(--blue-400) !important;
  border-radius: 18px;
  outline-offset: -12px;

  .color-scheme-dark & {
    outline-color: var(--blue-300) !important;
  }
}
