:root {
  --dial-box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.12),
    1px 2px 3px rgba(0, 0, 0, 0.12);
}

.Box {
  border-radius: 6px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 500;
  overflow: hidden;
  background-color: var(--dial-background-color);
  text-shadow: var(--dial-text-shadow);

  & .folder {
    width: 80px;
    height: 80px;
    fill: #fff;
  }

  .windows & {
    font-weight: bold;
  }

  .normal-title :focus-visible:is(a, button) & {
    outline: 5px solid #90caf9;
    outline-offset: -5px;
  }

  .normal-title & {
    box-shadow: var(--dial-box-shadow);
  }

  .attach-title.show-title & {
    border-radius: 6px 6px 0 0;
  }
}

.Breadcrumbs {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  height: 70px;
  padding-top: 8px;
  cursor: default;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  & span {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  & button {
    display: flex;
    align-items: center;
    column-gap: 3px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 2px;
    height: 30px;
    padding: 0 8px 0 4px;
    border: none;

    & .chevron-left {
      width: 17px;
      height: 17px;
    }

    .color-scheme-light & {
      color: #424242;
      fill: #424242;
      background-color: rgba(255, 255, 255, 0.8);
    }

    .color-scheme-dark & {
      color: #e0e0e0;
      fill: #e0e0e0;
      background-color: rgba(35, 35, 35, 0.8);
    }

    &:focus-visible {
      background-color: #90caf9;
      color: #424242;
      fill: #424242;
      outline: none;
      text-decoration: none;
    }
  }
}

.Grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 194px);
  max-width: var(--grid-max-width);
  row-gap: 27px;
  column-gap: 41px;
  justify-content: center;
  margin: var(--grid-margin);
  padding: 8px 70px 0;

  & .sortable-ghost {
    visibility: hidden;
  }

  .attach-title & {
    row-gap: 40px;
  }
}

.Link {
  text-decoration: none;
  cursor: pointer;
  outline: none;

  button& {
    border: none;
    padding: 0;
    background-color: transparent;
  }

  .attach-title & {
    box-shadow: var(--dial-box-shadow);
    border-radius: 6px;

    &:focus-visible {
      box-shadow: var(--dial-box-shadow);
      outline: 5px solid #90caf9;
      outline-offset: -5px;
    }
  }
}

.Small {
  font-size: 13px;
  font-weight: normal;
  max-width: 180px;
  text-align: var(--name-align);
  margin: 0 auto;
}

.Domain {
  line-height: var(--name-line-height);
  white-space: var(--name-white-space);
  padding: var(--name-padding);
  font-size: 24px;
  transform: var(--name-transform);
  text-align: center;
}

.Title {
  text-align: center;
  font-size: 13px;
  padding-top: 10px;
  position: relative;

  .attach-title & {
    padding-top: 0;
  }

  & .title {
    text-overflow: ellipsis;
    border-radius: 10px;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    max-width: 100%;

    .windows & {
      font-weight: 500;
    }

    .windows.firefox & {
      padding: 3px 8px 3px;
    }

    .windows.chrome & {
      padding: 4px 8px 3px;
    }

    .mac.chrome & {
      padding: 4px 8px 2px;
    }

    .mac.firefox & {
      padding: 3px 8px 2px;
    }

    .color-scheme-light & {
      background-color: rgba(245, 245, 245, 0.75);
      color: #373737;
    }

    .color-scheme-dark & {
      background-color: rgba(55, 55, 55, 0.75);
      color: #eeeeee;
    }

    .attach-title & {
      border-radius: 0 0 6px 6px;
      width: 100%;
      display: block;
    }

    :focus-visible:is(a, button) & {
      background-color: #90caf9;
      color: #424242;
    }
  }
}
