:root {
  --btn-background-color: var(--grey-300);
  --btn-text-color: black;
  --btn-hover-background-color: var(--grey-400);
  --btn-hover-text-color: black;
  --btn-focus-color: var(--blue-400);
  --btn-selected-background-color: var(--grey-400);
  --dismiss-btn-hover-background-color: var(--red-700);
  --dismiss-btn-hover-fill-color: white;
  --submit-btn-background-color: var(--blue-700);
  --submit-btn-hover-background-color: var(--blue-600);
  --danger-btn-background-color: var(--red-700);
  --danger-btn-hover-background-color: var(--red-800);

  &.color-scheme-dark,
  .color-scheme-dark {
    --btn-background-color: var(--grey-700);
    --btn-text-color: var(--grey-100);
    --btn-hover-background-color: var(--grey-600);
    --btn-hover-text-color: var(--grey-100);
    --btn-focus-color: var(--blue-400);
    --btn-selected-background-color: var(--grey-700);
    --dismiss-btn-hover-background-color: var(--red-600);
    --dismiss-btn-hover-fill-color: white;
    --danger-btn-background-color: var(--red-700);
    --danger-btn-hover-background-color: var(--red-600);
  }
}

.btn {
  padding: 10px 10px 8px;
  border-radius: 4px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &:active {
    filter: brightness(0.9);
  }

  &.focus-visible {
    outline: 2px solid var(--btn-focus-color);
    outline-offset: 0; /* shows border with outline in Safari desktop */
  }

  &.defaultBtn {
    background-color: var(--btn-background-color);
    color: var(--btn-text-color);

    &:hover {
      background-color: var(--btn-hover-background-color);
      color: var(--btn-hover-text-color);
    }
  }

  &.submitBtn {
    background-color: var(--submit-btn-background-color);
    color: white;

    &.focus-visible {
      outline-color: var(--submit-btn-background-color);
      outline-offset: 2px;
    }

    &:hover {
      background-color: var(--submit-btn-hover-background-color);
      color: white;
    }
  }

  &.dangerBtn {
    background-color: var(--danger-btn-background-color);
    color: white;

    &.focus-visible {
      outline-color: var(--danger-btn-background-color);
      outline-offset: 2px;
    }

    &:hover {
      background-color: var(--danger-btn-hover-background-color);
      color: white;
    }
  }

  &.dismissBtn {
    width: 30px;
    height: 30px;
    position: relative;
    padding: 0;

    div {
      height: 30px;
      width: 30px;
      position: relative;
      display: grid;
      place-items: center;

      &:before,
      &:after {
        position: absolute;
        width: 2px;
        content: "";
        height: 22px;
        background-color: currentColor;
      }

      &:before {
        transform: rotate(45deg);
      }

      &:after {
        transform: rotate(-45deg);
      }
    }

    &:hover {
      background-color: var(--dismiss-btn-hover-background-color);
      color: var(--dismiss-btn-hover-fill-color);
    }

    &:active {
      filter: brightness(0.9);
    }
  }
}
