:root {
  --btn-background-color: #cfcfcf;
  --btn-text-color: #000;
  --btn-hover-background-color: #bcbcbc;
  --btn-hover-text-color: #000;
  --btn-focus-color: #42a5f5;
  --btn-selected-background-color: #bcbcbc;
  --dismiss-btn-hover-background-color: #c62828;
  --dismiss-btn-hover-fill-color: #fff;
  --dismiss-btn-focus-outline-color: #ef5350;
  --submit-btn-background-color: #1565c0;
  --submit-btn-hover-background-color: #0d47a1;

  &.color-scheme-dark,
  .color-scheme-dark {
    --btn-background-color: #616161;
    --btn-text-color: #f5f5f5;
    --btn-hover-background-color: #373737;
    --btn-hover-text-color: #f5f5f5;
    --btn-focus-color: #64b5f6;
    --btn-selected-background-color: #424242;
    --dismiss-btn-hover-background-color: #d32f2f;
    --dismiss-btn-hover-fill-color: #fff;
    --dismiss-btn-focus-outline-color: #e57373;
  }
}

.btn {
  padding: 10px 10px 8px;
  border-radius: 4px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &:active {
    filter: brightness(0.9);
  }

  &:focus-visible {
    outline: 4px solid var(--btn-focus-color);
    outline-offset: 0; /* shows border with outline in Safari desktop */
  }

  &.defaultBtn {
    background-color: var(--btn-background-color);
    color: var(--btn-text-color);

    &:hover {
      background-color: var(--btn-hover-background-color);
      color: var(--btn-hover-text-color);
    }
  }

  &.submitBtn {
    background-color: var(--submit-btn-background-color);
    color: #fff;

    &:hover {
      background-color: var(--submit-btn-hover-background-color);
      color: #fff;
    }
  }

  &.dismissBtn {
    background: transparent;
    border: none;
    padding: 3px;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: var(--dismiss-btn-hover-background-color);

      & svg {
        fill: var(--dismiss-btn-hover-fill-color);
      }
    }

    &:active {
      filter: brightness(0.9);
    }

    &:focus-visible {
      outline: 4px solid var(--dismiss-btn-focus-outline-color);
    }
  }
}
