.ContextMenu {
  position: absolute;
  top: var(--context-menu-top);
  left: var(--context-menu-left);
  font-family: system-ui;
  font-size: 14px;
  z-index: 1;
  border-radius: 6px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  white-space: nowrap;

  & .no-outline {
    outline: 0;
  }

  @nest .firefox & button {
    text-transform: capitalize;
  }

  & .lowercase {
    text-transform: lowercase;
  }

  & ul {
    list-style: none;
    padding: 3px;
    margin: 0;
  }

  & li {
    & button {
      text-align: left;
      padding: 6px;
      width: 100%;
      border: 0;
      background-color: transparent;
      border-radius: 3px;

      &:hover,
      &:focus {
        background-color: #1565c0;
        outline: 0;
      }
    }
  }

  @nest .color-scheme-light & {
    border: 1px solid #bdbdbd;
    background-color: #eeeeee;

    & li button {
      color: #000;

      &:hover, &:focus {
        color: #fff;
      }
    }
  }

  @nest .color-scheme-dark & {
    border: 1px solid #6d6d6d;
    background-color: #424242;

    & li button {
      color: #fff;

      &:hover, &:focus {
        color: #fff;
      }
    }
  }

  & ul:not(:first-child) {
    @nest .color-scheme-light & {
      border-top: 1px solid #bdbdbd;
    }

    @nest .color-scheme-dark & {
      border-top: 1px solid #6d6d6d;
    }
  }

  & li.delete {
    & button {
      @nest .color-scheme-light & {
        color: #c62828;
      }

      @nest .color-scheme-dark & {
        color: #ef9a9a;
      }

      &:hover,
      &:focus {
        background-color: #c62828;
        color: #fff;
      }
    }
  }
}
