@import "modern-normalize";
@import "../styles/fonts/roboto.css";
@import "./buttons.css";
@import "./inputs.css";
@import "./wallpapers.css";

html {
  &.color-scheme-dark {
    color-scheme: dark;
  }

  &.color-scheme-light {
    color-scheme: light;
  }
}

body {
  font-family: "Roboto", sans-serif;
  font-size: initial; /* fix for 
  https://chromium.googlesource.com/chromium/src/+/master/extensions/renderer/resources/extension_fonts.css
  https://bugs.chromium.org/p/chromium/issues/detail?id=428412
  */
}

.scrollbars {
  .color-scheme-light & {
    scrollbar-color: #8d8d8d #eeeeee;
  }

  .color-scheme-dark & {
    scrollbar-color: #9e9e9e #373737;
  }
}
