@import "normalize.css";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #f5f5f5;
  font: message-box;
  font-size: 12px;
}

.bookmarks-list {
  display: grid;
  grid-template-columns: repeat(1, 210px);
  grid-gap: 25px;
  justify-content: center;
  padding: 40px 0;
}

.urlBox {
  border-radius: 6px;
  box-shadow: 0 6px 8px #9e9e9e;
  text-shadow: 0 0 2px #212121;
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  margin: 8px;
  color: #fff;
  font-weight: bold;
}

.url {
  margin: 0 auto;
  font-size: 24px;
  line-height: 20px;
}

.small {
  font-size: 12px;
  line-height: 15px;
  font-weight: normal;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

a {
  color: #000;
  text-decoration: none;
}

.title {
  padding: 2px 18px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media only screen and (min-width: 565px) {
  .bookmarks-list {
    grid-template-columns: repeat(2, 210px);
  }
}

@media only screen and (min-width: 800px) {
  .bookmarks-list {
    grid-template-columns: repeat(3, 210px);
  }
}

@media only screen and (min-width: 1035px) {
  .bookmarks-list {
    grid-template-columns: repeat(4, 210px);
  }
}

@media only screen and (min-width: 1270px) {
  .bookmarks-list {
    grid-template-columns: repeat(5, 210px);
  }
}

@media only screen and (min-width: 1505px) {
  .bookmarks-list {
    grid-template-columns: repeat(6, 210px);
  }
}

@media only screen and (min-width: 1740px) {
  .bookmarks-list {
    grid-template-columns: repeat(7, 210px);
  }
}
