.input {
  border-radius: 4px;
  border: none;
  padding: 7px 25px 7px 7px;
  background-color: var(--input-background-color);
  color: var(--input-text-color);

  &:focus {
    outline: none;
  }

  &:focus-visible {
    box-shadow: 0 0 0 4px #64b5f6;
  }

  @nest .color-scheme-light & {
    --input-background-color: #cfcfcf;
    --input-text-color: inherit;
  }

  @nest .color-scheme-dark & {
    --input-background-color: #616161;
    --input-text-color: #f5f5f5;
  }

  &select {
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    & + .arrow {
      position: absolute;
      right: 0;
      top: 2px;
      width: 28px;
      pointer-events: none;
      fill: var(--select-drop-down-arrow-color);

      @nest .color-scheme-light & {
        --select-drop-down-arrow-color: #212121;
      }

      @nest .color-scheme-dark & {
        --select-drop-down-arrow-color: #f5f5f5;
      }
    }
  }
}
