:root {
  --input-background-color: #cfcfcf;
  --input-border-color: #bdbdbd;
  --input-focus-outline-color: #42a5f5;
  --input-text-color: #000;

  &.color-scheme-dark,
  .color-scheme-dark {
    --input-background-color: #616161;
    --input-border-color: #757575;
    --input-focus-outline-color: #64b5f6;
    --input-text-color: #fff;
  }
}

.input {
  border-radius: 4px;
  border: none;
  padding: 7px 25px 7px 7px;
  background-color: var(--input-background-color);
  appearance: none;
  color: var(--input-text-color);

  &:focus,
  &:active,
  &:focus-within {
    outline: 4px solid var(--input-focus-outline-color);
    outline-offset: 0; /* shows border with outline in Safari desktop */
  }
}

select.input {
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  + .arrow {
    position: absolute;
    right: 0;
    top: 3px;
    width: 28px;
    pointer-events: none;
    fill: var(--select-drop-down-arrow-color);

    .color-scheme-light & {
      --select-drop-down-arrow-color: #212121;
    }

    .color-scheme-dark & {
      --select-drop-down-arrow-color: #f5f5f5;
    }
  }
}
