.Wallpapers {
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-color: var(--background-color);

  &.theme-wallpaper {
    --background-color: var(--grey-100);
    .gear-button {
      color: black;
    }
  }

  &.color-scheme-dark.theme-wallpaper {
    --background-color: var(--grey-900);
    .gear-button {
      color: white;
    }
  }

  &.pink-wallpaper {
    --background-color: var(--pink-100);
    .gear-button {
      color: black;
    }
  }

  &.green-wallpaper {
    --background-color: var(--teal-100);
    .gear-button {
      color: black;
    }
  }

  &.blue-wallpaper {
    --background-color: var(--blue-100);
    .gear-button {
      color: black;
    }
  }

  &.brown-wallpaper {
    --background-color: var(--brown-100);
    .gear-button {
      color: black;
    }
  }

  &.yellow-wallpaper {
    --background-color: var(--amber-200);
    .gear-button {
      color: black;
    }
  }

  &.SandDune {
    background-image: url(https://media.easyspeeddial.com/SandDune.jpg);
    .gear-button {
      color: black;
    }
  }

  &.WavySand {
    background-image: url(https://media.easyspeeddial.com/WavySand.jpg);
    .gear-button {
      color: white;
    }
  }

  &.Galaxy {
    background-image: url(https://media.easyspeeddial.com/Galaxy.jpg);
    .gear-button {
      color: white;
    }
  }

  &.EarthHorizon {
    background-image: url(https://media.easyspeeddial.com/EarthHorizon.jpg);
    .gear-button {
      color: white;
    }
  }

  &.BeachForest {
    background-image: url(https://media.easyspeeddial.com/BeachForest.jpg);
    .gear-button {
      color: black;
    }
  }

  &.Water {
    background-image: url(https://media.easyspeeddial.com/Water.jpg);
    .gear-button {
      color: black;
    }
  }

  &.Flowers {
    background-image: url(https://media.easyspeeddial.com/Flowers.jpg);
    .gear-button {
      color: black;
    }
  }

  &.SnowCoveredMountainwithSunnySky {
    background-image: url(https://media.easyspeeddial.com/SnowCoveredMountain.jpg);
    .gear-button {
      color: black;
    }
  }

  &.DesertDay {
    background-image: url(https://media.easyspeeddial.com/DunesDay.png);
    .gear-button {
      color: black;
    }
  }

  &.DesertNight {
    background-image: url(https://media.easyspeeddial.com/DunesNight.png);
    .gear-button {
      color: white;
    }
  }

  &.Crayons {
    background-image: url(https://media.easyspeeddial.com/Crayons.jpg);
    background-position: bottom;
    .gear-button {
      color: black;
    }
  }

  &.Underwater {
    background-image: url(https://media.easyspeeddial.com/Underwater.jpg);
    .gear-button {
      color: white;
    }
  }

  &.HorizonLight {
    background-image: url(https://media.easyspeeddial.com/HorizonLight.png);
    background-position: bottom left;
    .gear-button {
      color: black;
    }
  }

  &.HorizonDark {
    background-image: url(https://media.easyspeeddial.com/HorizonDark.png);
    background-position: bottom left;
    .gear-button {
      color: white;
    }
  }

  &.AbstractPurple {
    background-image: url(https://media.easyspeeddial.com/AbstractPurple.jpg);
    .gear-button {
      color: white;
    }
  }

  &.Gradient1 {
    background-image: url(https://media.easyspeeddial.com/RiceFlower.png);
    .gear-button {
      color: black;
    }
  }

  &.Gradient2 {
    background-image: url(https://media.easyspeeddial.com/ColumbiaBlue.png);
    .gear-button {
      color: black;
    }
  }

  &.Gradient3 {
    background-image: url(https://media.easyspeeddial.com/Fuchsia.png);
    .gear-button {
      color: white;
    }
  }

  &.Gradient4 {
    background-image: url(https://media.easyspeeddial.com/VioletBlue.png);
    .gear-button {
      color: black;
    }
  }
}
