:root {
  --border-radius: 0.375em;
}

.Link {
  text-decoration: none;
  cursor: pointer;
  outline: none;

  .attach-title & {
    box-shadow: var(--dial-box-shadow);
    border-radius: var(--border-radius);

    &:focus-visible:is(a) {
      outline: 5px solid #1976d2;
      outline-offset: 1px;

      .color-scheme-dark & {
        outline-color: #90caf9;
      }
    }
  }
}

.Box {
  border-radius: var(--border-radius);
  height: var(--dial-height);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 500;
  overflow: hidden;
  pointer-events: none;

  .folder {
    width: 5em; /* 80px */
    height: 5em; /* 80px */
    fill: #fff;
  }

  .normal-title & {
    box-shadow: var(--dial-box-shadow);

    :focus-visible:is(a) & {
      outline: 5px solid #1976d2;
      outline-offset: 1px;

      .color-scheme-dark & {
        outline-color: #90caf9;
      }
    }
  }

  .attach-title.show-title & {
    border-radius: var(--border-radius) var(--border-radius) 0 0;
  }

  .square & {
    height: var(--dial-height-attached-title);
  }
}

.Small {
  font-weight: normal;
  width: 100%;
  max-width: var(--max-small-width);
  text-align: var(--name-align);
  margin: 0 auto;
  display: grid;
  align-items: center;
  height: 1em;

  div {
    font-size: 0.8125em;
    display: block;
  }
}

.Domain {
  white-space: var(--name-white-space);
  padding: var(--name-padding);
  transform: var(--name-transform);
  text-align: center;

  div {
    font-size: 1.5em;
    margin-block: -0.15em;
  }
}

.Title {
  text-align: center;
  padding-top: 0.5em;
  display: grid;
  place-content: center;

  .attach-title & {
    padding-top: 0;
    display: block;
  }

  .title {
    border-radius: 0.625em;
    max-width: 100%;
    height: var(--title-height);
    display: grid;
    place-content: center;
    padding-inline: 8px;

    div {
      font-size: clamp(10px, 0.8125em, 15px);
      line-height: initial;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    .color-scheme-light & {
      background-color: rgba(255, 255, 255, 0.75);
      color: #373737;
    }

    .color-scheme-dark & {
      background-color: rgba(55, 55, 55, 0.75);
      color: #eeeeee;
    }

    .attach-title & {
      border-radius: 0 0 var(--border-radius) var(--border-radius);
    }

    :focus-visible:is(a) & {
      background-color: #1976d2;
      color: #fff;

      .color-scheme-dark & {
        background-color: #90caf9;
        color: #000;
      }
    }
  }
}
