@import "#styles/global.css";

:root {
  color-scheme: light;

  &.color-scheme-dark,
  .color-scheme-dark {
    color-scheme: dark;
  }
}

.options-wrapper {
  height: 100%;
}

.options-content {
  height: 100%;
  display: flex;
  flex-flow: column;
  background-color: var(--options-background-color);
  color: var(--options-text-color);

  .color-scheme-dark & {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

h1 {
  font-size: 20px;
  margin: 0;
  padding: 10px 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--header-background-color);
  outline: none;
}

@media (min-width: 747px) {
  .Options {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .options-wrapper {
    border: 5px solid var(--options-outer-border-color);
    outline: 1px solid var(--options-inner-border-color);
    box-shadow: var(--options-box-shadow);
    max-height: calc(100vh - 100px);
    border-radius: 10px;
  }

  .options-content {
    height: initial;
    overflow: hidden;
    border: 1px solid var(--options-inner-border-color);
    height: 100%;
    border-radius: 5px;
  }

  .setting-wrapper {
    max-width: 680px;
    font-size: 16px;
    padding-block: 30px;
  }

  .settings-content {
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
  }

  .setting-option.wallpapers {
    flex-wrap: wrap;
    overflow-y: auto;
    overflow-x: hidden;
  }
}
