@import "normalize.css";
@import "@fortawesome/fontawesome-free/css/all.css";

body,
html {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #e0e0e0;
}

#options {
  max-width: 800px;
  margin: 0 auto;
}

#theme {
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #512da8;
  color: #fff;
  padding: 18px 25px;
  font-size: 24px;
}

main {
  background-color: #e0e0e0;
  padding: 25px;
}

.setting-label {
  width: 150px;
  font-weight: bold;
  padding-bottom: 10px;
}

.setting-wrapper {
  padding-bottom: 40px;
}

.setting-wrapper:last-of-type {
  padding-bottom: 0;
}

.setting-label.homepage {
  vertical-align: top;
}

.theme-button {
  display: inline-block;
  margin-right: 20px;
}

.theme-button button {
  outline: none;
}

.theme-name {
  text-align: center;
  padding-top: 5px;
}

#defaultDarkBtn,
#defaultLightBtn {
  width: 80px;
  height: 60px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}

.DefaultDark #defaultDarkBtn,
.DefaultLight #defaultLightBtn {
  box-shadow: 0 0 0 2px #29b6f6;
}

#defaultDarkBtn:focus,
#defaultDarkBtn:active,
#defaultLightBtn:focus,
#defaultLightBtn:active {
  box-shadow: 0 0 0 2px #29b6f6;
}

#defaultLightBtn {
  background: url(../DefaultLight.png) -120px -120px/1200%;
}

#defaultDarkBtn {
  background: url(../DefaultDark.png) -120px -120px/1200%;
}

#homepage-url {
  margin-top: 10px;
  display: block;
}

#homepage-url a {
  color: #000;
}

select {
  border-radius: 5px;
  padding: 7px;
  border: 1px solid #c7c7c7;
  background-color: #c7c7c7;
  width: 100%;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.folder {
  width: 260px;
  position: relative;
}

.fa-caret-down {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #212121;
}

@media (min-width: 600px) {
  .setting-label,
  .setting-option {
    display: inline-block;
    max-width: 350px;
  }

  .setting-wrapper.theme {
    display: flex;
    align-items: center;
  }
}

@media (min-width: 800px) {
  #theme {
    padding-top: 30px;
  }

  .DefaultLight {
    background-color: #f5f5f5;
  }

  .DefaultDark {
    background-color: #212121;
  }

  header {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  main {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  .setting-option {
    max-width: 550px;
  }

  .setting-label {
    padding-bottom: 0;
  }
}
