@import "normalize.css";
@import "./fonts.css";

body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: initial;
  font-size: initial;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: 7px;
}
