@import "npm:modern-normalize";
@import "./fonts.css";

body {
  font-family: initial;
  font-size: initial;

  &.color-scheme-dark {
    color-scheme: dark;
  }

  &.color-scheme-light {
    color-scheme: light;
  }
}
