.About {
  line-height: 1.5;

  .logo {
    display: flex;
    align-items: center;

    img {
      margin-right: 20px;
    }

    .right {
      display: grid;
      gap: 10px;
    }

    .title {
      font-size: 20px;
      font-weight: bold;
    }
  }

  .details {
    display: grid;
    justify-items: center;
    text-align: center;
    gap: 10px;
    margin: 20px 0 0;
  }

  .copyright {
    font-size: 12px;
    text-align: center;
  }

  .color-scheme-light & a {
    color: inherit;
  }

  .color-scheme-dark & a {
    color: inherit;
  }

  p {
    margin: 0;
  }

  a {
    &:hover {
      text-decoration: none;
    }

    &:focus {
      outline: 4px solid #42a5f5;
      outline-offset: 2px;

      &.color-scheme-dark & {
        outline-color: #90caf9;
      }
    }
  }
}
