@import "../styles/global.css";

.AlertBanner {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background: linear-gradient(to right, #4527a0, #6a1b9a);
  color: #fff;
  font-size: 16px;

  .banner {
    display: flex;
    align-items: center;

    .bullhorn {
      padding-right: 10px;
      width: 38px;
      height: 38px;
      fill: #fff;
    }

    .message {
      padding: 20px 0;
    }

    strong {
      font-weight: 500;
      padding-right: 5px;
    }

    a {
      color: inherit;
      text-decoration: underline;
      cursor: pointer;

      &:hover {
        text-decoration: none;
      }

      &:focus-visible {
        background-color: #7953d2;
        outline: none;
      }
    }
  }

  .whats-new {
    margin-right: 20px;
  }

  button.whats-new {
    --btn-background-color: #7c43bd;
    --btn-text-color: #fff;
    --btn-hover-background-color: #9c4dcc;
    --btn-hover-text-color: #fff;
    --btn-focus-box-shadow-color: #fff;
    --btn-selected-background-color: #bcbcbc;
  }

  button.dismiss {
    color: #fff;

    &:hover {
      background-color: #9c4dcc;
    }
  }
}

.buttons {
  display: flex;
  align-items: center;
}

.Bookmarks {
  height: 100vh;
  outline: none;
  overflow: auto;
}

.ContextMenu {
  position: absolute;
  top: var(--context-menu-top);
  left: var(--context-menu-left);
  font-family: system-ui;
  font-size: 15px;
  border-radius: 6px;
  border: 1px solid var(--cm-border-color);
  background-color: var(--cm-background-color);
  box-shadow:
    0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  user-select: none;
  white-space: nowrap;
  z-index: 1;

  &:focus {
    outline: none;
  }

  .lowercase {
    text-transform: lowercase;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 3px 0;
  }

  li {
    display: flex;
  }

  li button {
    text-align: left;
    padding: 6px;
    margin: 0 3px;
    width: 100%;
    border: 0;
    background-color: transparent;
    border-radius: 3px;
    color: var(--cm-color);

    .firefox & {
      text-transform: capitalize;
    }

    &.selected {
      background-color: #1565c0;
      color: var(--cm-hover-color);
      outline: none;
    }
  }

  li.separator {
    border-bottom: 1px solid var(--cm-border-color);
    height: 0;
    margin: 3px 0;
    border-radius: 0;
  }

  li.delete button {
    color: var(--cm-delete-color);

    &:hover,
    &:focus {
      background-color: var(--cm-delete-hover-background-color);
      color: var(--cm-hover-color);
    }
  }

  .color-scheme-light & {
    --cm-border-color: #bdbdbd;
    --cm-background-color: #eee;
    --cm-color: #000;
    --cm-hover-color: #fff;
    --cm-delete-color: #c62828;
    --cm-delete-hover-background-color: #c62828;
  }

  .color-scheme-dark & {
    --cm-border-color: #6d6d6d;
    --cm-background-color: #424242;
    --cm-color: #fff;
    --cm-hover-color: #fff;
    --cm-delete-color: #ef9a9a;
    --cm-delete-hover-background-color: #c62828;
  }
}

.Modal {
  .color-scheme-light & {
    --modal-text-color: #000;
    --modal-header-background-color: #bdbdbd;
    --modal-background-color: #eee;
    --modal-outer-border-color: #e0e0e0;
    --modal-inner-border-color: #9e9e9e;
    --modal-shadow: 10px 14px 13px rgb(0, 0, 0, 0.3);
  }

  .color-scheme-dark & {
    --modal-text-color: #e0e0e0;
    --modal-header-background-color: #373737;
    --modal-background-color: #484848;
    --modal-outer-border-color: #424242;
    --modal-inner-border-color: #212121;
    --modal-box-shadow: 10px 14px 13px rgb(0, 0, 0, 0.3);
  }

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);

  .modal-wrapper {
    color: var(--modal-text-color);
  }

  .modal-body {
    background-color: var(--modal-background-color);
    display: flex;
    flex-direction: column;
    height: 100svh;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 10px 20px;
    background-color: var(--modal-header-background-color);

    h1 {
      margin: 0;
      font-size: 20px;
      margin: 0;
    }
  }

  .scroll-box {
    overflow: auto;
    overscroll-behavior: contain;
  }

  .scroll-focus:focus-visible {
    .color-scheme-light & {
      --btn-focus-color: #1565c0;
    }

    .color-scheme-dark & {
      --btn-focus-color: #64b5f6;
    }

    outline: 4px solid var(--btn-focus-color);
    outline-offset: -4px;
  }

  .dismiss {
    width: 30px;
    height: 30px;
    fill: var(--modal-text-color);
  }

  @media (min-width: 535px) {
    display: flex;
    align-items: center;
    justify-content: center;

    .modal-wrapper {
      max-height: calc(100vh - 100px);
      height: initial;
      border-radius: 10px;
      box-shadow: var(--modal-box-shadow);
      border: 5px solid var(--modal-outer-border-color);
    }

    .modal-body {
      border: 1px solid var(--modal-inner-border-color);
      border-radius: 5px;
      overflow: hidden;
      height: initial;
    }

    .scroll-box {
      width: var(--modal-width);
      max-height: var(--modal-height);
    }
  }
}

.BookmarkModal {
  font-size: 16px;
  margin: 20px;

  form {
    .form-grid {
      display: grid;
      grid-template-columns: min-content auto;
      align-items: center;
      column-gap: 10px;
      row-gap: 20px;
    }

    label {
      white-space: nowrap;
    }

    input {
      padding-top: 0;
      padding-bottom: 0;
      height: 32px;
    }

    .dial-color-input {
      display: flex;

      .colorBtn {
        width: 32px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      #dial-color-input {
        flex: 1;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;

        &.connected {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
      }

      .resetBtn {
        padding-top: 0;
        padding-bottom: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        font-size: 14px;
        margin-left: 1px;
      }

      > :focus {
        z-index: 1;
      }
    }

    .buttons {
      display: flex;
      margin-top: 20px;
      gap: 10px;
      width: 100%;

      .btn {
        flex-grow: 1;
      }
    }
  }
}

.AboutModal {
  font-size: 16px;
  padding: 20px;
}

.WhatsNew {
  font-size: 16px;
  padding: 20px;

  .firefox-only {
    display: none;
  }

  .firefox & .firefox-only {
    display: block;
  }

  h2 {
    margin: 20px 0 0;
    font-size: 16px;

    .color-scheme-light & {
      color: #1565c0;
    }

    .color-scheme-dark & {
      color: #64b5f6;
    }
  }

  h3 {
    margin: 20px 0;
  }

  h2,
  h3 {
    font-size: 16px;
    font-weight: 500;
  }

  ul {
    padding-left: 30px;
  }

  li {
    margin: 10px 0;
  }

  div {
    .color-scheme-light & {
      border-top: 1px solid #bdbdbd;
    }

    .color-scheme-dark & {
      border-top: 1px solid #373737;
    }

    &:first-child {
      border: none;

      h2 {
        margin-top: 0;
      }
    }

    &:last-child {
      ul:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

:root {
  --dial-box-shadow:
    -1px 2px 3px rgba(0, 0, 0, 0.12), 1px 2px 3px rgba(0, 0, 0, 0.12);
}

.Box {
  border-radius: 6px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 500;
  overflow: hidden;

  .folder {
    width: 80px;
    height: 80px;
    fill: #fff;
  }

  .windows & {
    font-weight: bold;
  }

  .normal-title :focus-visible:is(a, button) & {
    outline: 5px solid #90caf9;
    outline-offset: -5px;
  }

  .normal-title & {
    box-shadow: var(--dial-box-shadow);
  }

  .attach-title.show-title & {
    border-radius: 6px 6px 0 0;
  }
}

.Breadcrumbs {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  height: 70px;
  padding-top: 8px;
  cursor: default;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  span {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  a {
    display: flex;
    align-items: center;
    column-gap: 3px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 2px;
    height: 30px;
    padding: 0 8px 0 4px;
    border: none;

    .chevron-left {
      width: 17px;
      height: 17px;
    }

    .color-scheme-light & {
      color: #424242;
      fill: #424242;
      background-color: rgba(255, 255, 255, 0.8);
    }

    .color-scheme-dark & {
      color: #e0e0e0;
      fill: #e0e0e0;
      background-color: rgba(35, 35, 35, 0.8);
    }

    &:focus-visible {
      background-color: #90caf9;
      color: #424242;
      fill: #424242;
      outline: none;
      text-decoration: none;
    }
  }
}

.Grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 194px);
  max-width: calc(
    (var(--grid-max-cols) * 194px + (var(--grid-max-cols) - 1) * 41px) + 140px
  );
  row-gap: 27px;
  column-gap: 41px;
  justify-content: center;
  margin: 70px auto;
  padding: 8px 70px 0;

  &.has-breadcrumbs {
    margin: 0 auto 70px;
  }

  .sortable-ghost {
    visibility: hidden;
  }

  .attach-title & {
    row-gap: 40px;
  }
}

.Link {
  text-decoration: none;
  cursor: pointer;
  outline: none;

  button& {
    border: none;
    padding: 0;
    background-color: transparent;
  }

  .attach-title & {
    box-shadow: var(--dial-box-shadow);
    border-radius: 6px;

    &:focus-visible {
      box-shadow: var(--dial-box-shadow);
      outline: 5px solid #90caf9;
      outline-offset: -5px;
    }
  }
}

.Small {
  font-size: 13px;
  font-weight: normal;
  max-width: 180px;
  text-align: var(--name-align);
  margin: 0 auto;
}

.Domain {
  line-height: var(--name-line-height);
  white-space: var(--name-white-space);
  padding: var(--name-padding);
  font-size: 24px;
  transform: var(--name-transform);
  text-align: center;
}

.Title {
  text-align: center;
  font-size: 13px;
  padding-top: 10px;
  position: relative;

  .attach-title & {
    padding-top: 0;
  }

  .title {
    text-overflow: ellipsis;
    border-radius: 10px;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    max-width: 100%;

    .windows & {
      font-weight: 500;
    }

    .windows.firefox & {
      padding: 3px 8px 3px;
    }

    .windows.chrome & {
      padding: 4px 8px 3px;
    }

    .mac.chrome & {
      padding: 4px 8px 2px;
    }

    .mac.firefox & {
      padding: 3px 8px 2px;
    }

    .color-scheme-light & {
      background-color: rgba(245, 245, 245, 0.75);
      color: #373737;
    }

    .color-scheme-dark & {
      background-color: rgba(55, 55, 55, 0.75);
      color: #eeeeee;
    }

    .attach-title & {
      border-radius: 0 0 6px 6px;
      width: 100%;
      display: block;
    }

    :focus-visible:is(a, button) & {
      background-color: #90caf9;
      color: #424242;
    }
  }
}
